/* homePage.css */

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Header Styles */
.heading {
    text-align: center;
    background-color: rgb(75, 75, 146);
    color: #fff;
    padding: 20px 0;
    margin-bottom: 20px;
}

/* Todo Input Styles */
div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    outline: none;
}

button {
    padding: 10px 20px;
    background-color: #DFCCFB;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: rgb(75, 75, 146);
}

/* Todo List Styles */
.inputBoxDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aquamarine;
    width: auto;

}

.input-wrapper {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.inputbox {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.realInput {
    flex-grow: 1;
    padding: 0 10px;
}

.rm-btn {
    background-color: #ff3333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
}

.rm-btn:hover {
    background-color: #ff0000;
}

.completeThing {
    border: 1px solid black;
    width: 100vh;
    height: 400px;

}

.taskToDo {
    background-color: antiquewhite;
    border: 1px solid black;
    width: 50%;

}

.taskComplete {

    border: 1px solid black;
    width: 50%;
}