.App {
    font-family: sans-serif;
    text-align: center;
}

.heading {
    color: #6cc7f6;
}

body {
    background-color: #151515;
}

button {
    background-color: rgb(122, 55, 122);
    margin-left: 2%;
    /* border-radius: 5px; */
    height: 29px;
    /* border: none; */
    color: white;
}

input {
    height: 25px;
}

.inputbox {
    color: whitesmoke;
    border: 1px solid #7a377a;
    margin-bottom: 2px;
    height: 30px;
    /* border-radius: 10px; */

}